      </article>
    </section>
    
    <!-- Makes footer stick to the bottom -->
    <div id="push"></div>
  </div>
    
  <!-- Contact Information -->
  <footer id="contact">
    <article>
      <div class="columns large-12">
        <h2>Site Developed by <a class="logo" href="http://www.bivee.co"><img class="svg logo" src="{{ site.assets.img }}logo.svg" /></a></h2>
      </div>
    </article>
  </footer>
  
  <!-- Bottom Footer -->
  <footer id="bottom">
    <article>
      <div class="columns large-12">
          <span>&copy; Copyright 2013 Bivee</span>
          <span>|</span>
          <span>Made with <b class="heart">♥</b> in DC</span>
      </div>
    </article>
  </footer>

{% include scripts.html %}

</body>
</html>