
        <article>
        <div id="main" class="columns large-12">
            <nav id="menu" class="nav">         
            <ul>
              <li>
                <a href="/">
                  <span class="icon">
                    <i aria-hidden="true" class="icon-home"></i>
                  </span>
                  <span>Home</span>
                </a>
              </li>
              <li>
                <a href="#community_sites">
                  <span class="icon"> 
                    <i aria-hidden="true" class="icon-community"></i>
                  </span>
                  <span>CLO Communities</span>
                </a>
              </li>
              <li>
                <a href="#slides">
                  <span class="icon">
                    <i aria-hidden="true" class="icon-slides"></i>
                  </span>
                  <span>Session Slides</span>
                </a>
              </li>
              <li>
                <a href="#resources">
                  <span class="icon">
                    <i aria-hidden="true" class="icon-resources"></i>
                  </span>
                  <span>Resources</span>
                </a>
              </li>
              <li>
                <a href="#downloads">
                  <span class="icon">
                    <i aria-hidden="true" class="icon-downloads"></i>
                  </span>
                  <span>Downloads</span>
                </a>
              </li>
              <li>
                <a href="#disqus_thread">
                  <span class="icon">
                    <i aria-hidden="true" class="icon-discussion"></i>
                  </span>
                  <span>Discussion</span>
                </a>
              </li>
            </ul>
          </nav>
      </div>
      </article>
        <div class="clearfix"></div>
