
        <div id="main" class="columns large-2">
          <div class="desktop">
            <a href="/"><img class="shield" src="{{ site.assets.img }}upenn_shield.svg" /></a>
          </div>
          <div class="mobile"><a href="/"><img class="shield" src="{{ site.assets.img }}upenn_blue.svg" /></a></div>
          <div id="showmenu"><i class="icon-facebook"></i></div>
          <ul id="menu">
            <li><a href="#community_sites">CLO Community Sites</a></li>
            <li><a href="#slides">Session Slides</a></li>
            <li><a href="#resources">Resources</a></li>
            <li><a href="#downloads">Downloads</a></li>
            <li><a href="#disqus_thread">Discussion</a></li>

          </ul>
        </div>
        <div class="clearfix"></div>
