  <section id="banner">
    <article>
      <div class="columns large-12">
        <img class="svg" src="/assets/images/upenn_shield.svg" /></li>
        <h1>Online Community Resource Site</h1>
        <h2>Developed for The UPenn CLO Program</h2>
        <h2>August 2013</h2>
      </div>
    </article>
  </section>
  <div id="container">
    <section>
      <article>
        <div class="columns large-3">
          <div id="nav">
<!--             <div id="showmenu"><i class="icon-list"></i></div> -->
            <ul class="pinned" data-spy="affix" data-offset-top="200">
              <a href="#"><li><img class="svg" src="/assets/images/upenn.svg" /></li></a>
              <a href="#top"><li>Home</li></a>
              <a href="#about"><li>About</li></a>
              <a href="#communities"><li>Communities</li></a>
              <a href="#slides"><li>Slides</li></a>
              <a href="#resources"><li>Resources</li></a>
              <a href="#downloads"><li>Downloads</li></a>
              <a href="#discussion"><li>Discussion</li></a>
            </ul>
          </div>
        </div>
        <div class="columns large-9">